@font-face {
    font-family: Cookie;
    src: url("fonts/Cookie-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Raleway-bold;
    src: url("fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Raleway-regular;
    src: url("fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
}
